<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>dorica castra</title>

    <link rel="apple-touch-icon" sizes="180x180" href="https://dorica-castra.netlify.app/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://dorica-castra.netlify.app/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://dorica-castra.netlify.app/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://dorica-castra.netlify.app/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://dorica-castra.netlify.app/assets/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSans-Text.eot" as="font" type="application/vnd.ms-fontobject" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSans-Text.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSans-Text.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSans-Text.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSans-Text.svg" as="font" type="image/svg+xml" crossorigin="anonymous">

    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSerif-ExtraLightItalic.eot" as="font" type="application/vnd.ms-fontobject" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSerif-ExtraLightItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSerif-ExtraLightItalic.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSerif-ExtraLightItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>assets/fonts/IBMPlexSerif-ExtraLightItalic.svg" as="font" type="image/svg+xml" crossorigin="anonymous">

    <link rel="preload" href="<%= BASE_URL %>assets/css/index.min.css" as="style">

    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/index.min.css">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
