html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, htmlinput[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], htmlinput[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "IBM Plex Sans Text";
  font-style: normal;
  font-weight: 450;
  src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"), url("../fonts/IBMPlexSans-Text.woff2") format("woff2"), url("../fonts/IBMPlexSans-Text.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Serif ExtraLightItalic";
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Serif ExtraLightItalic"), local("IBMPlexSerif-ExtraLightItalic"), url("../fonts/IBMPlexSerif-ExtraLightItalic.woff2") format("woff2"), url("../fonts/IBMPlexSerif-ExtraLightItalic.woff") format("woff");
  font-display: swap;
}
::selection {
  background-color: #222;
  color: #ddd;
}

html {
  box-sizing: border-box;
  height: 100vh;
  background: #fff;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc( 16px + 16 * ( ( 100vw - 320px ) / 880 ) );
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 32px;
  }
}
html.mobile {
  font-size: 14px;
  height: fill-available;
  height: -webkit-fill-available;
}
@media screen and (device-aspect-ratio: 2/3), (device-aspect-ratio: 40/71) {
  html.mobile {
    font-size: 10px;
  }
}
html.mobile, html.mobile body, html.mobile main {
  min-height: 100vh;
  min-height: calc( var( --vh, 1vh ) * 100 );
  min-height: fill-available;
  min-height: -webkit-fill-available;
  height: 100vh;
  height: calc( var( --vh, 1vh ) * 100 );
}
html.mobile label, html.mobile input {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
@media screen and (orientation: portrait) {
  html.mobile:not(.tablet) header {
    left: 0;
    top: 0;
  }
  html.mobile:not(.tablet) header > ul {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  html.mobile:not(.tablet) header > ul > * {
    transition: all 0s;
    position: initial !important;
  }
  html.mobile:not(.tablet) header > ul > *:not(:first-child) {
    opacity: 0;
  }
  html.mobile:not(.tablet) input {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  html.mobile:not(.tablet) input:checked ~ header > ul {
    background: #fff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  html.mobile:not(.tablet) input:checked ~ header > ul > * {
    opacity: 1;
  }
  html.mobile:not(.tablet) input:checked ~ #container {
    opacity: 0;
    pointer-events: none;
  }
  html.mobile:not(.tablet) label {
    content: "menu";
    position: fixed;
    display: initial;
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    right: 0.5rem;
    top: 0.5rem;
  }
}
html.tablet {
  font-size: 24px;
}
html:not(.mobile) *, html:not(.mobile) body * {
  cursor: none;
}

html, body {
  overflow: hidden;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: "IBM Plex Sans Text", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app, main {
  height: 100%;
  width: 100%;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

object, embed {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

a, button, button:after {
  color: inherit;
  font-family: "IBM Plex Serif ExtraLightItalic";
  text-decoration: none;
}

header a, header button {
  font-family: "IBM Plex Sans Text", sans-serif;
}

a:hover, button:hover {
  color: #ddd;
}