<template>
  <article :id="id">
    <p>
      <Line v-for="( line, n ) in lines" :key="n" :line="line" :article="article" @set-page="setPage" />
      &#8239;<a :href="next" @click.prevent="link( next ), headerClick( $event )" id="nextPage">↷</a>
      &#8239;<button
        v-if="article.images.length > 1 && article.title !== 'dorica castra' && article.title !== 'contact'"
        @click="toggleSlider( $event )"
        :id="button">→</button>
    </p>
  </article>
</template>

<script>
import { Json } from "@/data/json.js";
import { setOrder } from '@/scripts/navbar';
import { ref } from 'vue';
import Line from './Line.vue';
import { isMobile } from 'mobile-device-detect';

export default {
  components: {

    Line,

  },
  
  props: {

    article: {

      type: Object,
      required: true,

    },

  },

  emits: [],

  computed: {

    lines() {

      return this.article.content.split( /\r?\n|\r/g );

    },

    id() {

      let title = this.article.title.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).replace( " ", "-" );

      return title;

    },

    next() {

      const json = Json.filter( t => t.title !== "marquee" ),
            array = json,
            title = this.article.title.normalize( "NFD" ).toLowerCase().replace( /[\u0300-\u036f]/g, "" ).replace( " ", "-" ),
            page = array.find( ( t ) => t.title.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).toLowerCase().replace( " ", "-" ) === title ),
            index = array.indexOf( page ),
            next = index >= 0 && index < array.length - 1 ? array[ index + 1 ] : array[ 0 ],
            nextTitle = next.title.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).toLowerCase().replace( " ", "-" );

      return nextTitle;

    }

  },

  setup( props, { emit } ) {

    let page = ref( page );

    const setPage = data => {

      if ( data ) emit( "set-page", data );

    }

    const toggleSlider = e => {

      if ( !isMobile ) {

        const button = e.target;

        button.style.left = `${ button.offsetLeft }px`;
        button.style.top = `${ button.offsetTop }px`;

      }

      emit( "toggle-slider", true );

    }

    const link = link => {

      if ( link ) {

        link = link.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).toLowerCase().replace( " ", "-" );

        emit( "set-page", link );
        
      }

    }

    const headerClick = ( event ) => {

      let link = event.currentTarget,
          url = link.href.split( '/' );
          url = url.pop();
          url = url === "%C3%A0%20para%C3%AEtre" ? "a-paraitre" : url;

      let menuLink = document.querySelector( `#menu_${ url }` );

      if ( menuLink ) setOrder( menuLink, document.querySelector( "header ul" ) );

    };

    return {

      link,
      headerClick,
      setPage,
      toggleSlider,

    }

  },
};
</script>

<style scoped>
article {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 .5rem;
}
article > p {
  line-height: 1.1;
}
.mobile article > p {
  line-height: 1.125;
}
.slider article > p :not(button) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}
#nextPage, button {

  font-family: "IBM Plex Sans Text", sans-serif;
  
}
button {

  float: right;
  line-height: 1;

}
button:after {
  content: "\202Fimg";
  display: inline-block;
  line-height: 1.25rem;
  margin-top: -.25rem;
}
.slider button {
  position: fixed;
  z-index: 9999;
  color: #fff;
  mix-blend-mode: difference;
}
.slider button:hover {
  color: #222;
}
.slider button:after {
  content: "\202Ftxt";
  display: inline-block;
  line-height: 1.25rem;
  margin-top: -.25rem;
}
.mobile button {
  position: fixed;
  bottom: 1.75rem;
  right: .5rem;
}
</style>