<template>
    <figure v-if="article.images.length > 1" class="images" @mouseover="mouseHover" @mouseleave="mouseLeave">
        <button @click="prevImg">←</button>
        <button @click="nextImg">→</button>
        <picture v-for="( image, k ) in article.images" :key="k">
            <source :srcset="`assets/img/${ image }.webp`" type="image/webp">
            <source :srcset="`assets/img/${ image }.jpg`" type="image/jpeg"> 
            <img v-if="n === k" class="active" :src="`assets/img/${ image }.jpg`">
            <img v-else :src="`assets/img/${ image }.jpg`">
        </picture>
    </figure>
    <figure v-else @mouseover="mouseHover" @mouseleave="mouseLeave">
        <picture>
            <source :srcset="`assets/img/${ article.images[ 0 ] }.webp`" type="image/webp">
            <source :srcset="`assets/img/${ article.images[ 0 ] }.jpg`" type="image/jpeg"> 
            <img loading="lazy" :src="`assets/img/${ article.images[ 0 ] }.jpg`">
        </picture>
    </figure>
</template>

<script>
import { ref, watchEffect } from 'vue';

let n = ref( 0 );

export default {

    props: {

        article: {

            type: Object,
            required: true,

        },

    },

    computed: {

        n() {

            return n.value;

        },

    },

    setup( props ) {

        let images = ref( props.article.images ),
            length = ref( images.value.length ),
            oldTitle = ref( null );

        watchEffect( () => {

            if ( props.article ) {

                let title = ref( props.article.title );
                    
                if( title.value !== oldTitle.value ) {

                    length.value = props.article.images.length;
                    n.value = 0;

                }

                oldTitle.value = title.value;
                
            }
        } )

        const nextImg = () => {
            
            if ( n.value === length.value - 1 ) {

                n.value = 0;

            } else {

                n.value++;
                
            }

        }

        const prevImg = () => {
            
            if ( n.value === 0 ) {

                n.value = length.value - 1;

            } else {

                n.value--;
                
            }

        }
        
        let root = document.documentElement;
        const mouseHover = () => { root.style.setProperty('--cursor', "#fff" ) };
        const mouseLeave = () => { root.style.setProperty('--cursor', "#000" ) };

        return {

            prevImg,
            nextImg,
            mouseHover,
            mouseLeave,

        }

    },

};
</script>

<style scoped>
    figure {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .slider figure {
        opacity: 1;
        z-index: 1;
    }
    .images:hover{
        cursor: pointer;
    }
    .images button {
        position: absolute;
        color: #ddd;
        mix-blend-mode: difference;
        font-family: "IBM Plex Sans Text", sans-serif;
        height: 100%;
        width: 50%;
        opacity: 0;
        padding: .5rem;
    }
    .images button:hover {
        opacity: 1;
    }
    .images button:first-child{
        left: 0;
        text-align: left;
    }
    .images button:nth-child( 2n ){
        right: 0;
        text-align: right;
    }
    .images img {
        display: none;
    }
    .images .active {
        display: initial;
    }
    img {
        height: calc( 100vh - 4rem );
        object-fit: contain;
    }
    .mobile img {
        width: calc(100vw - 1rem);
        margin: 0 .5rem;
    }
    @media screen and ( orientation: portrait ) {
        .mobile img{
            height: auto;
        }
    }
</style>