<template>
  <template v-for="( node, n ) in nodes" :key="n">
    <a @click.prevent="link( node.split( ']' )[ 0 ] ), headerClick( $event )"
    v-if="n % 2"
    :href="`/${ node.split( ']' )[ 0 ].toLowerCase() }`"
    :data-alt="node.split( '(' )[ 1 ]"
    >
      <picture v-if="!isMobile
                && article.title === 'dorica castra'
                && node.split( ']' )[ 0 ] !== 'contact'
                && node.split( ']' )[ 0 ] !== 'à paraître'">
        <source :srcset="`assets/img/${node.split( ']' )[ 0 ].toLowerCase()}-01.webp`" type="image/webp">
        <source :srcset="`assets/img/${node.split( ']' )[ 0 ].toLowerCase()}-01.jpg`" type="image/jpeg"> 
        <img :src="`assets/img/${node.split( ']' )[ 0 ].toLowerCase()}-01.jpg`"
          :alt="node.split( ']' )[ 0 ]"
        />
      </picture>
      {{ node.split( '(' )[ 1 ] }}
    </a>
    <template v-else><span v-html="node"></span></template>
  </template>
</template>

<script>
import { setOrder } from '@/scripts/navbar';
import { isMobile } from 'mobile-device-detect';

export default {
  
  props: {

    line: {

      type: String,
      required: true,

    },

    article: {

      type: Object,
      required: true,

    },

  },

  computed: {

    isMobile() {
      
      return isMobile ? true : false;
      
    },

    nodes() {

      return this.line.split(/\[(.*?)\)/);

    },

    test( node ) {

      return node;

    },

  },

  setup( props, { emit } ) {

    const link = link => {

      if ( link ) {

        link = link.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).toLowerCase().replace( " ", "-" );

        emit( "set-page", link );
        
      }

    }

    const headerClick = ( e ) => {

      let link = e.currentTarget,
			url = link.href.split( '/' );
			url = url.pop();
			url = url.replace( "%20", "-" );
			url = url.replace( "%C3%A0", "a" );
			url = url.replace( "%C3%AE", "i" );

		let menu = document.querySelector( "header ul" ),
			menuLink = document.querySelector( `#menu_${ url }` );

      if ( menuLink ) {
			
			setOrder( menuLink, menu );
                    
			if ( isMobile && window.innerHeight > window.innerWidth ) {
				
				let clone = menuLink.cloneNode( true );

				setTimeout(() => {

					menu.prepend( clone );
					menuLink.remove();
					
				}, 10);
				
			}
			
		}

    };

    return {

      link,
      headerClick,

    }

  },

}
</script>

<style>
  button{
    border: none;
    background: none;
    font-family: initial;
    padding: 0;
  }
  #dorica-castra a {
    position: relative;
  }
  #dorica-castra a img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    height: calc( 100vh - 4rem );
    max-width: calc(100% - 1rem);
    object-fit: cover;
    pointer-events: none;
    display: none;
    opacity: 0;
  }
  #dorica-castra a:hover img {
    display: initial;
    opacity: initial;
    z-index: 9999;
  }
</style>