<template>
  <footer id="marquee">
    <div>
      <p>{{ marquee.content }}</p>
    </div>
  </footer>
</template>

<script>

  import { initMarquee } from '@/scripts/marquee';

  export default {
    props: {
      marquee: {
        type: Object,
        required: true,
      },
    },

    mounted() {

      initMarquee();

    },

  };

</script>

<style>
footer {
  position: fixed;
  overflow: hidden;
  width: calc(100vw - 1.75rem);
  left: .5rem;
  bottom: .3rem;
  padding-left: .75rem;
  height: 1.2rem;
}
footer > div {
  position: relative;
  width: 100%;
  height: 1rem;
}
footer:before {
  content: "*";
  position: absolute;
  left: 0;
  background: #fff;
  display: inline-block;
  height: 100%;
  width: .75rem;
  z-index: 99999;
}
#marquee > div > p {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  transform: translate(0px);
  font-size: 1rem;
}
</style>