<template>

    <label v-if="isMobile && nodes.value.length > 1" for="menu-toggle">menu</label>
    
    <input v-if="isMobile" type="checkbox" id="menu-toggle" class="visually-hidden">

    <header>

        <h1>{{ title }}</h1>
        
        <ul>

            <template v-for="( node, n ) in nodes.value" :key="n">

                <li :id="`menu_${ node }`" :data-id="n" style="left: 0px;">
                    
                    <a :href="`/${ node }`"
                        @click.prevent="link( node ), headerClick( $event ), offSlider()"
                    >{{ node === "dorica-castra" ? "dorica castra" : ( node === "a-paraitre" ? "à paraître" : node ) }}</a>

                </li>

            </template>

        </ul>

    </header>

</template>

<script>
    import { setLeft, setOrder } from '@/scripts/navbar';
    import { isMobile } from 'mobile-device-detect';
    import { ref, watchEffect } from 'vue';

    let arr = ref( [ 'dorica-castra', ] )

    export default {
        
        name: 'NavBar',
        
        props: {

            title: {

                type: String,
                required: true,

            },

            article: {

                type: String,
                required: true,

            },
            
        },

        computed: {

            isMobile() {
            
                return isMobile ? true : false;
            
            },

            home() {

                const getUrl = window.location;
                const baseUrl = `${ getUrl.protocol }//${ getUrl.host }/`;

                return baseUrl;

            },

            nodes() {

                let article = this.article;

                if ( !arr.value.includes( article ) ) {

                    arr.value = [ article, ...arr.value ];

                }

                return arr;

            },

        },

        setup( props, { emit } ) {

            watchEffect( () => {

                let ul = document.querySelector( "header ul" );

                if ( arr.value ) {

                    if ( ul !== undefined && ul !== null ) setLeft( ul )
                    
                }

            } );

            const link = link => {

                link = link.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).toLowerCase().replace( " ", "-" );

                emit( "set-page", link );

            }

            const headerClick = e => {
                    
                setOrder( e.currentTarget.offsetParent, document.querySelector( "header ul" ) );
                    
                if ( isMobile ) {
                    
                    let clicked = e.currentTarget.parentElement,
                        clone = clicked.cloneNode( true );

                    e.currentTarget.offsetParent.prepend( clone );
                    clicked.remove();

                    document.querySelector( "#menu-toggle" ).checked = false;
                    
                }

            };

            const offSlider = () => {

                emit( "off-slider", false );

            }

            return {

                link,
                headerClick,
                offSlider,

            }

        },

        mounted() {

            let navList = document.querySelector( "header ul" );

            setLeft( navList );

        }
        
    }
    
</script>

<style>

    header h1 {

        display: none;
        opacity: 0;

    }

    header {
        
        position: fixed;
        left: .5rem;
        top: .5rem;

    }

    header li {

        display: inline-block;
        font-weight: 500;
        white-space: nowrap;
        font-size: 1rem;
        margin: 0;
        display: inline-block;

    }

    header a {

        white-space: nowrap;
        text-decoration: none;

    }

    header a:hover {

        text-decoration: none;

    }
    
    header ul {
        
        position: relative;

    }
    
    header ul > * {
        
        transition: left .6s, opacity .6s .6s;
        position: absolute;
        /* padding-right: .4rem; */

    }

    html:not( .mobile ) header ul > *:not( [ data-id = "0" ] ):before,
    html.tablet header ul > *:not( [ data-id = "0" ] ):before {

        content: "\202F→\202F";

    }

    @media screen and ( orientation: landscape ) {

        header ul > *:not( [ data-id = "0" ] ):before {

            content: "\202F→\202F";

        }
        
    }

    @media screen and ( orientation: portrait ) {

        .mobile header ul > *:not( :first-child ):before {

            content: "\202F→\202F";

        }
        
    }
    
    header li.hidden a {

        opacity: 0;
    
    }

    html:not(.mobile) li[ data-id = "0" ],
    html.tablet li[ data-id = "0" ] {

        pointer-events: none;

    }

    @media screen and ( orientation: landscape ) {

        li[ data-id = "0" ] {

            content: "\202F→\202F";

        }
        
    }

</style>
