<template>
  
  <div v-if="!isMobile" id="cursor"></div>
  
  <NavBar title="dorica castra" :article="article" @set-page="setPage" @off-slider="offSlider" />

  <main id="container" :class="slideClass" @click="escape( $event )">
    <Article :article="page" @set-page="setPage" @toggle-slider="toggleSlider" />
    <Images v-if="article.title !== 'dorica castra' && article.title !== 'contact'" :article="page" />
  </main>

  <Marquee :marquee="marquee" />

</template>

<script>

// JS MODULES IMPORTS

import { Json } from "@/data/json.js";
import { ref } from "vue";
import { setLeft } from '@/scripts/navbar';
import { initMarquee } from '@/scripts/marquee';

let containerClass = ref( false );

// VUE COMPONENTS IMPORTS

import NavBar from "@/components/NavBar.vue";
import Article from "@/components/Article.vue";
import Images from '@/components/Images.vue';
import Marquee from "@/components/Marquee.vue";
import { isMobile, isTablet } from 'mobile-device-detect';

export default {

  name: "app",

  components: {

    NavBar,
    Article,
    Images,
    Marquee,

  },

  computed: {

    isMobile() {

      return isMobile ? true : false;

    },

    slideClass() {

      return containerClass.value === true ? "slider" : null;

    },

    page() {

      const article = this.article;

      const page = Json.find( ( t ) => t.title.normalize( "NFD" ).replace( /[\u0300-\u036f]/g, "" ).toLowerCase().replace( " ", "-" ) === article );

      return page;

    },

  },

  setup() {

    const marqueeJSON = Json.find( t => t.title === "marquee" );

    let page = window.location.href.split( "/" ).pop();
        page = !page ? "dorica-castra" : page.split( "/" ).pop();

    let article = ref( page ),
        marquee = ref( marqueeJSON );

    const setUrl = data => {

      let newUrl = data === "dorica-castra" ? location.origin : `${ location.origin }/${ data }`;

      history.replaceState( null, null, newUrl );

    }, setPage = data => {

      if  ( data ) {

        article.value = data;

        setUrl( data );

      }

    }, toggleSlider = () => {

      containerClass.value = containerClass.value === true ? false : true;

      return containerClass;

    }, offSlider = () => {

      containerClass.value = false;

      return containerClass;

    }, escape = e => {

      e = e.target;

      if ( e.id === "container" && e.classList.contains( "slider" ) ) {

        e.classList.remove( "slider" );

        containerClass.value = false;

        return containerClass;
        
      }

    }, mobileRoot = () => {

      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty( "--vh", `${vh}px` );

      window.addEventListener("resize", () => {
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty( "--vh", `${vh}px` );
      });
      
    }; 

    if ( isMobile ) {

      mobileRoot();
      document.documentElement.classList.add( "mobile" );

    } if ( isTablet ) document.documentElement.classList.add( "tablet" );

    return {

      // articles,
      article,
      marquee,
      setPage,
      toggleSlider,
      offSlider,
      escape,

    };
    
  },

  mounted() {

    window.addEventListener('resize', () => {

      setLeft( document.querySelector("header ul") );
      initMarquee();

    });

    if ( !isMobile ) {

      const cursor = document.querySelector("#cursor");

      window.addEventListener( "mousemove", function( e ){ cursorMove( e ) } );

      const cursorMove = e => {

        cursor.style.top = `${e.pageY}px`;
        cursor.style.left = `${e.pageX}px`;

      }
      
    }

  }
};
</script>

<style>
:root {
  --cursor: #000;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
#cursor {
  width: .3rem;
  height: .3rem;
  transform: translate( -50%, -50% );
  border-radius: 50%;
  background: var( --cursor );
  /* mix-blend-mode: difference; */
  position: absolute;
  z-index: 99999;
  pointer-events: none;
  transition: background-color 0.2s;
}
</style>